---
title: Communicating Radiology Test Results
author: [CL_AT_ZeeshaanSBhattiMD,CL_AT_RichardKJBrownMD,CL_AT_EllaAKazerooniMDMS,CL_AT_MatthewSDavenportMD]
date: 2018-03-01 00:00:00 +0700 +07
categories: [Academic Radiology, Volume 25, Issue 3]
tags: [Journals,General Radiology]
---
## Rationale and Objectives

This study aimed to determine the preferences of radiology and referring provider residents regarding direct communication of radiology test results.

## Methods

This Health Insurance Portability and Accountability Act-compliant quality improvement effort was exempt from institutional review board oversight. An anonymous survey was emailed to 44 radiology residents and 364 referring resident providers who routinely provide or receive direct communication of test results at our quaternary care medical center. The survey focused on the frequency, indication, clinical utility, and methods of direct communication of radiology results. Proportions were compared to chi-square or Fisher exact test.

## Results

The response rates were 86% (37 of 43) (radiology) and 41% (151 of 364) (referring providers). Approximately half of radiology residents (49% \[18 of 37\]) thought the frequency of direct verbal communication was excessive, and none (0 of 37) thought more communication was needed. In contrast, only 1.3% (2 of 151; _P_ < .001) of referring providers felt the frequency was excessive, and 24% (36 of 151; _P_ < .001) desired more. The majority (66% \[100 of 151\]) of referring providers felt phone calls from radiologists often or always added value beyond a timely radiology report, and 59% (44 of 74) felt it is the radiologist's responsibility to call about abnormal findings. Furthermore, 83% (125 of 151) of referring providers preferred to receive a phone call about non-emergent unexpected findings, although preferences varied for various example abnormalities. For outpatients with non-emergent unexpected findings, most providers (90% \[64 of 71\]) prefer written communication rather than a phone call.

## Conclusions

Referring providers prefer direct communication of radiology results, even for non-urgent unexpected findings, whereas radiology residents prefer less direct communication and are more likely to consider radiologist-to-provider communication superfluous.

## Introduction

The American College of Radiology Practice Parameter for the Communication of Diagnostic Imaging Findings states that “quality patient care can only be achieved when study results are conveyed in a timely fashion to those responsible for treatment decisions,” and advises that the interpreting physician should expedite communication of emergent or non-routine results in a way that ensures they will be received in a timely fashion “to provide the most benefit to the patient” . Similarly, The Joint Commission has prioritized effective communication as a national Patient Safety Goal , and requires that critical, urgent, and unexpected findings be communicated directly to the referring provider in a closed-loop fashion. Together, these establish a clear practice standard that requires certain non-routine test results be communicated directly.

However, there is a “gray area” in which a radiology test result could arguably be delivered electronically rather than by phone, or by open- rather than closed-loop communication. With the ever-rising volume of radiologic testing, this equipoise occurs on a daily basis, and is a source of anxiety and frustration for radiologists. When confronted with this situation, radiologists are often torn between a medico-legal pressure to communicate, an uncertainty about the relevance of the finding in question, competing pressures that demand they continue their other work, and a feeling that the recipient of their message may be irritated at the interruption—particularly if asked to call the radiologist back. This is especially true overnight, when on-call radiologists and their referring providers are doing work at an accelerated pace in a higher acuity environment, and referring providers may be less available to receive direct communication.

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

## Methods

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

## Subjects

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

## Local Communications Policy

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

## Data Analysis

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

## Results

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

TABLE 1


Respondent Training Program and Post-Graduate Year (pgy) Level


Residency and Training Level Data Diagnostic Radiology Invited 43 Participated 37 Post-graduate year 2 24% (9/37) Post-graduate year 3 24% (9/37) Post-graduate year 4 27% (10/37) Post-graduate year 5 24% (9/37) Emergency Medicine Invited 67 Participated 32 Post-graduate year 1 25% (8/32) Post-graduate year 2 28% (9/32) Post-graduate year 3 25% (8/32) Post-graduate year 4+ 22% (7/32) Surgery Invited 134 Participated 45 Post-graduate year 1 24% (11/45) Post-graduate year 2 18% (8/45) Post-graduate year 3 11% (5/45) Post-graduate year 4+ 47% (21/45) Internal Medicine Invited 163 Participated 74 Post-graduate year 1 38% (28/74) Post-graduate year 2 30% (22/74) Post-graduate year 3 26% (19/74) Post-graduate year 4+ 7% (5/74)

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

TABLE 2


Radiology Resident Responses ( _n_ = 37 Respondents)


Question Diagnostic Radiology During your intern year, how often did you get a phone call from a radiologist regarding abnormal radiology test results? Never 43% (16/37) Rarely (ie, only a couple times during the year) 35% (13/37) On occasion (ie, a couple times a month) 16% (6/37) Frequently (ie, a couple times a week) 3% (1/37) Very frequently (ie, daily) 3% (1/37) During your intern year, how often did you get a phone call from a radiologist regarding a study protocol? Never 73% (27/37) Rarely (ie, only a couple times during the year) 14% (5/37) On occasion (ie, a couple times a month) 3% (1/37) Frequently (ie, a couple times a week) 11% (4/37) Very frequently (ie, daily) 0% (0/37) As a department, what do you think about the frequency of our communication of test results directly to clinicians? Too much 49% (18/37) Appropriate 51% (19/37) Too infrequent 0% (0/37) Do you sometimes contact clinicians with radiology results despite knowing they are aware of the findings? Yes, often 60% (22/37) Yes, infrequently 24% (9/37) No 8% (3/37) Don't know, I never check the patient's chart to see if they're aware 8% (3/37) In your future practice (ie, as an attending), how frequently do you anticipate directly communicating findings compared to now? Less likely 54% (20/37) About the same 43% (16/37) More likely 3% (1/37) How often do you think communicating abnormal test results directly to clinicians adds anything valuable beyond a timely radiology report? Never 0% (0/37) Rarely 5% (2/37) On occasion 54% (20/37) Often 38% (14/37) Always 3% (1/37)

TABLE 3


Referring Resident Provider Responses ( _n_ = 32 Emergency Medicine, _n_ = 45 Surgery, _n_ = 74 Internal Medicine).


Question Emergency Medicine Surgery Internal Medicine Combined How often do you get a phone call from a radiologist regarding abnormal test results? Never 0% (0/32) 2% (1/45) 1% (1/74) 1% (2/151) Rarely (ie, only a couple times during the year) 0% (0/32) 22% (10/45) 4% (3/74) 9% (13/151) On occasion (ie, a couple times a month) 3% (1/32) 44% (20/45) 45% (33/74) 36% (54/151) Frequently (ie, a couple times a week) 34% (11/32) 29% (13/45) 47% (35/74) 39% (59/151) Very frequently (ie, daily) 63% (20/32) 2% (1/45) 3% (2/74) 15% (23/151) How often do you get a phone call from a radiologist regarding a study protocol (ie, type of study, contrast issues)? Never 0% (0/32) 2% (1/45) 1% (1/74) 1% (2/151) Rarely (ie, only a couple times during the year) 6% (2/32) 40% (18/45) 28% (21/74) 27% (41/151) On occasion (ie, a couple times a month) 38% (12/32) 49% (22/45) 59% (44/74) 52% (78/151) Frequently (ie, a couple times a week) 44% (14/32) 7% (3/45) 9% (7/74) 16% (24/151) Very frequently (ie, daily) 13% (4/32) 2% (1/45) 1% (1/74) 4% (6/151) What do you think about the frequency of phone calls regarding test results from radiologists? Too frequent, they need to cut back 3% (1/32) 0% (0/45) 1% (1/74) 1% (2/151) Appropriate 75% (24/32) 76% (34/45) 74% (55/74) 75% (113/151) Not enough, they're helpful and I would prefer more phone calls 22% (7/32) 24% (11/45) 24% (18/74) 24% (36/151) How often does a phone call from a radiologist add anything valuable beyond the radiology report? Never 0% (0/32) 0% (0/45) 1% (1/74) 1% (1/151) Rarely 1% (1/32) 9% (4/45) 7% (5/74) 7% (10/151) On occasion 31% (10/32) 31% (14/45) 22% (16/74) 26% (40/151) Often 63% (20/32) 47% (21/45) 55% (41/74) 54% (82/151) Always 3% (1/32) 13% (6/45) 15% (11/74) 12% (18/151) If radiology reports are available in a timely manner, what would be your preference? Receive a phone call only about emergent findings 16% (5/32) 9% (4/45) 14% (10/74) 11% (16/151) Receive a phone call about emergent and also non-emergent abnormal or unexpected findings 81% (26/32) 82% (37/45) 84% (62/74) 83% (125/151) Receive a page when the report is available 3% (1/32) 9% (4/45) 3% (2/74) 5% (7/151) Not receive a phone call or a page about any findings, I would prefer to check the report myself according to my own workflow 0% (0/32) 0% (0/45) 0% (0/74) 0% (0/151) \\*  What is your preference for communication of non-emergent abnormal radiology results specifically for outpatients? I don't want to be interrupted about it, I would prefer to review the results myself 27% (19/71) — I prefer a message via the internal electronic medical record messaging system or via my pager 63% (45/71) — I prefer a phone call 10% (7/71) — \\*  Regarding non-emergent radiology results, which of the following do you most agree with? It is my responsibility to follow-up on results for a study I ordered, not the radiologists' responsibility to call about abnormal results. 41% (30/74) — It is primarily my responsibility to follow-up on results for a study I ordered, but it is also the radiologist's responsibility to call about abnormal results. 59% (44/74 — It is not primarily my responsibility to follow-up on results for a study I ordered; it is primarily the radiologist's responsibility to call about abnormal results. 0% (0/74) —

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

TABLE 4


Diagnosis-specific Preferences for Method of Notification by Referring Provider Respondents ( _n_ = 32 Emergency Medicine \[EM\], _n_ = 45 Surgery \[S\], _n_ = 74 Internal Medicine \[IM\])


Discussion by Phone (Closed-loop Communication) Pager Notification (Call Back Not Required) Do Not Contact Radiology Diagnosis EM S IM EM S IM EM S IM Acute fracture 47% (15) 27% (12) 49% (36) 38% (12) 61% (27) 44% (32) 16% (5) 11% (5) 7% (5) Acute appendicitis 72% (23) 44% (20) 76% (56) 25% (8) 51% (23) 20% (15) 3% (1) 4% (2) 4% (3) Pneumonia 28% (9) 19% (8) 18% (13) 56% (18) 65% (28) 49% (36) 16% (5) 16% (7) 34% (25) Malpositioned tube or catheter 72% (23) 52% (23) 57% (42) 22% (7) 48% (21) 38% (28) 6% (2) 0% (0) 5% (4) Acute stroke 94% (30) 91% (40) 92% (68) 6% (2) 9% (4) 8% (6) 0% (0) 0% (0) 0% (0) New mass or suspected cancer 54% (17) 42% (19) 64% (47) 41% (13) 51% (23) 34% (25) 6% (2) 7% (3) 3% (2) Pulmonary embolism 78% (25) 82% (37) 80% (59) 16% (5) 18% (8) 18% (13) 6% (2) 0% (0) 3% (2) Aortic rupture 100% (32) 91% (41) 89% (66) 0% (0) 9% (4) 9% (7) 0% (0) 0% (0) 1% (1) Retroperitoneal hemorrhage without active bleeding 69% (22) 47% (21) 64% (47) 25% (8) 49% (22) 32% (24) 6% (2) 4% (2) 4% (3) Small bowel obstruction 59% (19) 32% (14) 54% (40) 34% (11) 48% (21) 39% (29) 6% (2) 20% (9) 7% (5) Obstructing urinary calculus 44% (14) 31% (13) 46% (34) 50% (16) 52% (22) 45% (33) 6% (2) 17% (7) 9% (7)

Numbers in parentheses are _N_ . Not all respondents answered every question. Denominators are the number of respondents within each specialty that responded to each diagnosis.


[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

## Discussion

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

## Supplementary Data

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

Appendix S1

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

Appendix S2

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

[Get Radiology Tree app to read full this article<](https://clinicalpub.com/app)

## References

- 1\. ACR : Practice Parameter for Communication of Diagnostic Imaging Findings. Revised. Available at: https://www.acr.org/~/media/C5D1443C9EA4424AA12477D1AD1D927D.pdf

- 2\. The Joint Commission : National Patient Safety Goals. Effective: 1/1/2015. Critical Access Hospital Accreditation Program; Available at: http://www.jointcommission.org/assets/1/6/2015\_NPSG\_CAH.pdf

- 3\. Graber M.L.: The incidence of diagnosis error in medicine. BMJ Qual Saf 2013; 22: pp. ii21-ii27.


- 4\. Singh H., Meyer A.N., Thomas E.J.: The frequency of diagnostic errors in outpatient care: estimations from three large observational studies involving US adult populations. BMJ Qual Saf 2014; 23: pp. 727-731.


- 5\. Murphy D.R., Singh H., Berlin L.: Communication breakdown and diagnostic errors: a radiology perspective. Diagnosis 2014; 1: pp. 253-261.


- 6\. Institute of Medicine : Improving diagnosis in health care. Washington, DC: National Academies of Sciences, Engineering, and Medicine; Available at: http://www.nationalacademies.org/hmd/Reports/2015/Improving-Diagnosis-in-Healthcare.aspx

- 7\. Schwinger H.N.: Liability problems in radiology communications exist. ACR Bulletin 46:331990.


- 8\. Berlin L.: Communicating nonroutine radiologic findings to the ordering physician: will (should) information technology-assisted communication replace direct voice contact?. Radiology 2015; 277: pp. 332-336.


- 9\. Siewert B., Brook O.R., Hochman M., et. al.: Impact of communication errors in radiology on patient care, customer satisfaction, and work-flow efficiency. AJR Am J Roentgenol 2016; 206: pp. 573-579.


- 10\. Dickerson E.C., Alam H.B., Brown R.K., et. al.: In-person communication between radiologists and acute care surgeons leads to significant alterations in surgical decision making. J Am Coll Radiol 2016; 13: pp. 943-949.


- 11\. Baron R.L.: The radiologist as interpreter and translator. Radiology 2014; 272: pp. 4-8.


- 12\. Boland G.W., Duszak R., Larson P.A.: Communication of actionable information. J Am Coll Radiol 2014; 11: pp. 1019-1021.


- 13\. Nulty D.D.: The adequacy of response rates to online and paper surveys: what can be done?. Assessment and Evaluation in Higher Education 2008; 33: pp. 301-314.


- 14\. Eisenberg R.L., Yamada K., Yam C.S., et. al.: Electronic messaging system for communicating important, but nonemergent, abnormal imaging results. Radiology 2010; 257: pp. 724-731.


- 15\. Baker S.R.: Transmission of nonemergent critical findings: communication versus consultation. Radiology 2010; 257: pp. 609-611.